@media screen and (min-width: 1288px) {
    #app-footer {
        position: relative;
        bottom: auto;
        height: 100px;
        padding: 10px 50px 0px 50px;
        margin: auto;
        font-size: 16px;
        background-color: #F5F5F5;
        width:auto;
    }
    
    #footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    }
    
    #foot-logo {
        width: 220px;
        height: 40px;
        mix-blend-mode: darken;
        cursor: pointer;
    }

    #foot-about-logo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 23%;
        align-items: center;
    }

    #foot-nav-items-container {
        position: sticky;
        top: 0px;
        width: 28%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    * a, #foot-nav-items-container a:visited {
        color: #000000;
        text-decoration: none;
        font-size: 16px;
    }
    
    * a:hover {
        transform: scale(1.025);
        text-decoration: underline;
    }

    #foot-faq {
        position: relative;
        top: 10px;
    }

    #reserve-rights {
        float: left;
    }
}
